<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Add Location</title>

    <nav>
        <a href="/">RecycleMe.</a>
    </nav>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<hr>

    <body>

        <h1>Add a new recycling location.</h1>

        <form th:object="${location}" th:action="@{add}" method="post">
            <div class = "add">
                <label th:for="locationName"><b>Name of Location</b></label>
                <input type="text" placeholder="Enter Location Name" name="locationName" required><br><br>

                <label th:for="streetAddress" ><b>Street Address</b></label>
                <input type="text" placeholder="Enter Street Address" name="streetAddress" required><br><br>

                <label th:for="city" ><b>City</b></label>
                <input type="text" placeholder="Enter City" name="city" required><br><br>

                <label th:for="state"><b>State</b></label>
                <input type="text" placeholder="Enter State" name="state" required><br><br>

                <button type="submit">Add Location</button>

            </div>
        </form>
    <p>Once you hit submit you will be redirected to the <a href="index">Homepage</a>.</p>
    </body>
</html>