<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--Fonts being used-->
<script src="https://kit.fontawesome.com/6c8663ccc4.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Passion+One:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jaldi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:600,800&display=swap" rel="stylesheet">



<body>

<img src="https://enterpriseengineeringnetwork.org/images/florida-state-png-8.jpg"/>
<div class="index-title" style="text-align:center">
    <h1>RecycleMe. Florida</h1>

    </div>


    <div class="index-para" style="text-align:center">
    <h3>Login to find a recycling location in your city.</h3>
<!--        <a  href="/login">Log In </a>-->
        <button class="button" onclick="window.location.href = '/login';">Login</button>

        <br>

    <h3>Don't have an account?</h3>
<!--        <a href="/register"> Register </a>-->
        <button class="button" onclick="window.location.href = '/register';">Create One!</button>

    </div>

</div>






<!--    <div class="search-box">-->
<!--        <input class="search-txt" type="text" name="" placeholder="Search Your City">-->
<!--        <a class="search-btn" href="results">-->
<!--            <i class="fas fa-search-location"></i>-->

<!--        </a>-->
<!--    </div>-->




</body>
</html>