<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Login</title>

    <nav th:replace="fragments :: mainNavigation"></nav>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jaldi&display=swap" rel="stylesheet">
</head>



<body>



<h1 class="page-head">Log in to add a new recycling location.</h1>


<form th:object="${user}" method="post" th:action="@{/login}">
    <div class="login">
        <label th:for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required><br><br>


        <label th:for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required><br><br>

        <button type="submit" class="submit-button">Login</button>
        <p>Don't have an account? <a href="register">Create one!</a></p>
    </div>

</form>






</body>
</html>