<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Login</title>

    <nav th:replace="fragments :: navigation"></nav>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<hr>


<body>



<h1>Log in to add a new recycling location.</h1>
<form th:object="${user}" method="post" th:action="@{/login}">
    <div class="login">
        <label th:for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required><br><br>

        <label th:for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required><br><br>

        <button type="submit">Login</button>
    </div>

</form>

<div class="account">
    <p>Don't have an account? <a href="register">Create one!</a></p>
</div>



</body>
</html>