<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title th:text="${title}">Register</title>

        <nav th:replace="fragments :: navigation"></nav>

        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
    <hr>

<body>
    <form>
    <div class="register">
        <h1>Register</h1>
        <p>Create an account to add recycling locations.</p>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="email" required><br>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required> <br>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="signin">
        <p>Already have an account? <a href="login">Sign in</a>.</p>
    </div>
    </form>


</body>
</html>