
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Register</title>

    <nav th:replace="fragments :: navigation"></nav>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<hr>

<body>
<form th:object="${user}" th:action="@{/register}" method="post">
    <div class="register">
        <h1>Register</h1>
        <p>Create an account to add recycling locations.</p>
        <label th:for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" th:field="*{username}"name="username" required><br>
        <span th:errors="*{username}" class="error"></span><br>

        <label th:for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" th:field="*{password}" name="password" required> <br>
        <span th:errors="*{password}" class="error"></span><br>

        <label th:for="verifyPassword"><b>Verify Password</b></label>
        <input type="password" placeholder="Verify Password" th:field="*{verifyPassword}" name="verifyPassword" required><br><br>
        <span th:errors="*{verifyPassword}" class="error"></span><br>

        <button type="submit" class="registerbtn">Register</button>
    </div>
</form>

<p> Once you have successfully created an account you will be directed to the login page.</p>
<div class="signin">
    <p>Already have an account? <a href="login">Sign in</a>.</p>
</div>



</body>
</html>