<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <nav th:replace="fragments :: recycleNavigation"></nav>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<hr>

<body>

<h1 th:text="${title}">Default Title</h1>


<form th:object="${location}" action="add" method="post">
    <div class = "form-group">
        <label th:for="locationName"><b>Name of Location</b></label>
        <input type="text" placeholder="Enter Location Name" name="locationName" required><br><br>

        <label th:for="streetAddress" ><b>Street Address</b></label>
        <input type="text" placeholder="Enter Street Address" name="streetAddress" required><br><br>
    </div>

    <div class="form-group">
        <label th:for="cityId">City</label>
        <select name="cityId">
            <option th:each="city: ${cities}"
                    th:text="${city.name}"
                    th:value="${city.id}"></option>
        </select>

    </div>


    <input type="submit" value="Add Location" />
</form>

<p>Don't see your city as an option? <a href="/city/add">Add it to the list!</a></p>

</body>
</html>