<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jaldi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:600,800&display=swap" rel="stylesheet">

<body class="container">

<nav th:replace="fragments :: recycleNavigation"></nav>


<div class="page-head">
<h1 th:text="${title}">Default Title</h1>
</div>


<div class="location-index">
    <p><strong>We need your help!</strong> <br>
        Don't be shy and share any recycling locations we should be aware of!<br>
        Scroll down to add a new location to our list!<br>
    <h3>Reduce, Reuse, Recycle!</h3>

    <!--SEARCH BAR HTML-->
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by City">

<p th:unless="${locations} and ${locations.size()}">No locations posted yet! Add one!</p>


<table id="myTable" class="table">

    <tr>
        <th>Name</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
    </tr>

    <tr th:each="location : ${locations}">
        <td th:text="${location.locationName}"></td>
        <td th:text="${location.streetAddress}"></td>
        <td th:text="${location.nameCity}"></td>
        <td th:text="${location.nameState}"></td>
    </tr>

</table>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<a class="submit-button" th:href="@{'/location/add/'}">Click Here to Add a New Location</a>
</div>
</body>
</html>